<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <directoryBrowse enabled="true" />
  </system.webServer>
  <system.web>
    <compilation debug="true" />
        <globalization fileEncoding="windows-874" requestEncoding="windows-874" responseEncoding="windows-874" responseHeaderEncoding="windows-874" />
  </system.web>
</configuration>