<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
     <httpErrors errorMode="Detailed" />
    <directoryBrowse enabled="true" />
  </system.webServer>
  <system.web>
    <compilation debug="true" />
         <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" responseHeaderEncoding="utf-8" />
  </system.web>
</configuration>